</body>
  <footer>
     <img id="foot"
      src='https://th.bing.com/th/id/R.d9923d5756f775b469b461a0e5e382b6?rik=ihMfgJ4C1oFXVQ&riu=http%3a%2f%2fwww.prepsportswear.com%2fmedia%2fimages%2fcollege_logos%2f300x300%2f1749151_mktg_logo.png&ehk=ZPWGeSZMIh9Km5ZyGZ2DKSXUjyYR0hIZyFrpuQN6qNg%3d&risl=&pid=ImgRaw&r=0'>
    <br><br>
    <div id="footWords">
      <p>CST336 Internet Programming 2022 &copy; Aaron Johnson</p>
    </div>
  </footer>
</html>